<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDiaSIyvdVEdZ7IHeY6lGeorJc3-z2D9_w</string>
	<key>GCM_SENDER_ID</key>
	<string>1030884467571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lifeshareapplication</string>
	<key>PROJECT_ID</key>
	<string>lifeshare-873ea</string>
	<key>STORAGE_BUCKET</key>
	<string>lifeshare-873ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030884467571:ios:6958735148efc980a89b06</string>
	<key>DATABASE_URL</key>
	<string>https://lifeshare-873ea-default-rtdb.firebaseio.com</string>
</dict>
</plist>